<!-- Modal -->
<div class="modal fade" [ngClass]='stilePopUp' style="background-color:rgb(31, 35, 53)(0, 47, 255)"  id="exampleModal" tabindex="1000"
  aria-hidden="true" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{messegeHeader}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{messege}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-warning" data-dismiss="modal" (click)="closeGoMenu()">Volver al menú</button>
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" (click)="reload()">Volver a Jugar</button>
      </div>
    </div>
  </div>
</div> 

