<h1>Tres En Raya</h1>
<app-pop-up [showPopUp]='showPopUp' [messege]='messege' [success]='success'></app-pop-up>
<div class="row" style="height:100%;">
  <div class="col-3">
    <app-lateral-panel (timeOut)='timeOut($event)' [(title)]='title' (pointCalculed)='sendData()' [(time)]='time'></app-lateral-panel>
    <!-- <app-counter [counter]="counter"></app-counter> -->
  </div>
  <div class="col-6 generalShadow" 
  style="background-color: rgba(23, 71, 71, 0.822);border-radius: 15px;margin-top:50px;">
    <div style="width:100%" class="pull-center">
      <div class="row">
        <div class="col-4 celda1 tatetiValue celda" (click)="userPlays(0)">{{cells[0].player}}</div>
        <div class="col-4 celda2 tatetiValue celda" (click)="userPlays(1)">{{cells[1].player}}</div>
        <div class="col-4 celda3 tatetiValue celda" (click)="userPlays(2)">{{cells[2].player}}</div>
      </div>
      <div class="row">
        <div class="col-4 celda4 tatetiValue celda" (click)="userPlays(3)">{{cells[3].player}}</div>
        <div class="col-4 celda5 tatetiValue celda" (click)="userPlays(4)">{{cells[4].player}}</div>
        <div class="col-4 celda6 tatetiValue celda" (click)="userPlays(5)">{{cells[5].player}}</div>
      </div>
      <div class="row">
        <div class="col-4 celda7 tatetiValue celda" (click)="userPlays(6)">{{cells[6].player}}</div>
        <div class="col-4 celda8 tatetiValue celda" (click)="userPlays(7)">{{cells[7].player}}</div>
        <div class="col-4 celda9 tatetiValue celda" (click)="userPlays(8)">{{cells[8].player}}</div>
      </div>
    </div>
  </div>
  <div class="col-3">
  </div>
</div>