<app-pop-up [(showPopUp)]='showPopUp' [(messege)]='messege' [(success)]='success'></app-pop-up>
<div class="row" style="height:400px;margin-top:60px">
  <div class="col-sm-12 col-md-4 col-lg-3" style="margin:0 0 40px 0">
    <app-lateral-panel (timeOut)='timeOut($event)' [(title)]='title' (pointCalculed)='sendData()' [(time)]='time'></app-lateral-panel>
    <!-- <app-counter [counter]="counter"></app-counter> -->
  </div>
  <div class="col-sm-12 col-md-8 col-lg-9" style="border-radius:25px;margin-top:35px;">
    <div class="row" style="padding:1% 5% 0% 5%">
      <div class="col-4">
        <img class="ppt" (click)="play('Piedra')" src="../../../assets/imagenes/piedra.jpg" alt="Avatar">
      </div>
      <div class="col-4">
        <img class="ppt" (click)="play('Papel')" src="../../../assets/imagenes/papel.jpg" alt="Avatar">
      </div>
      <div class="col-4">
        <img class="ppt" (click)="play('Tijera')" src="../../../assets/imagenes/tijera.jpg" alt="Avatar">
      </div>
    </div>
  </div>
  <div class="col-3">
  </div>
</div>