.card {
    max-width: 300px;
    max-height: 250px;
    height: 100%;
    margin: 10px;
    border-radius: 4px  4px 4px 4px;
    float: left;
  background-color: rgba(0, 0, 0, 0.1);
    /* text-align: right; */

    -webkit-box-shadow: 12px -2px 49px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px -2px 49px -10px rgba(0,0,0,0.75);
    box-shadow: 12px -2px 49px -10px rgba(0,0,0,0.75);
}

/* .shadow{
    
    -webkit-box-shadow: 12px -2px 49px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px -2px 49px -10px rgba(0,0,0,0.75);
    box-shadow: 12px -2px 49px -10px rgba(0,0,0,0.75);
} */

/* Add rounded corners to the top left and the top right corner of the image */
img {
    /* border-radius: 5px 5px 0 0; */
    width: 200px;
    height: 200px;
}/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.btn-card{
    border-radius: 0px  0 4px 4px;
    color:rgb(196, 88, 0);font-size:55px;font-family: Tahoma;
}

.button{
    margin-left: 1px;
    display: inline-block;
    width: 90%;
    padding: 5px 15px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(255, 166, 0);
    background-color: #4CAF50;
    border: none;
    /* border-radius: 15px; */
    box-shadow: 0 9px #999;

    border: none;
    outline: 0;
 
    padding: 8px;
    color: white;
   /* background-color: #000;*/
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }