<div class="container" style="margin-top:67px;">
  <div class="card" style="border-radius: 4px  4px 4px 4px" (click)="Juego('Agilidad')">
    <img class="" src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%;border-radius: 4px  4px 0px 0px">
    <button class="btn btn-default btn-card" title="{{velocidadTitle}}" target="_blank" style="background-image:url('./assets/imagenes/gris.jpg');">
      <h6> Velocidad y agilidad aritmética </h6>
    </button>
  </div>

  <div class="card" style="border-radius: 4px  4px 4px 4px" (click)="Juego('ppt')">
    <img class="" src="./assets/imagenes/ppt.jpg" alt="Avatar" style="width:100%;border-radius: 4px  4px 0px 0px">
    <button class="btn btn-default btn-card" title="{{piedraTitle}}" target="_blank" 
    style="background-image:url('./assets/imagenes/gris.jpg');">
      <h6> Piedra Papel o Tijera </h6>
    </button>
  </div>
  <div class="card" style="border-radius: 4px  4px 4px 4px" (click)="Juego('Adivina')">
    <img class="" src="./assets/imagenes/adivina.png" alt="Avatar" style="width:100%;border-radius: 4px  4px 0px 0px">
    <button class="btn btn-default btn-card" title="{{adivinaTitle}}" target="_blank"
     style="background-image:url('./assets/imagenes/gris.jpg');">
      <h6> Adivina el número secreto </h6>
    </button>
  </div>
  <div class="card"  title="{{navalTitle}}"
   style="border-radius: 4px  4px 4px 4px" (click)="Juego('Batalla-Naval')">
    <img class="" src="./assets/imagenes/naval.png" alt="Avatar" style="width:100%;border-radius: 4px  4px 0px 0px">
    <button class="btn btn-default btn-card" target="_blank" 
    style="background-image:url('./assets/imagenes/gris.jpg')">
      <h6> Batalla naval </h6>
    </button>
  </div>
  <div class="card" style="border-radius: 4px  4px 4px 4px" (click)="Juego('anagrama')">
    <img class="" src="./assets/imagenes/anagrama.jpg" alt="Avatar" style="width:100%;border-radius: 4px  4px 0px 0px">
    <button class="btn btn-default btn-card" target="_blank" style="background-image:url('./assets/imagenes/gris.jpg');">
      <h6> Anagrama </h6>
    </button>
  </div>
  <div class="card"  title="{{tatetilTitle}}" style="border-radius: 4px  4px 4px 4px" (click)="Juego('tateti')">
    <img class="" src="./assets/imagenes/tateti.jpg" alt="Avatar" 
    style="width:100%;border-radius: 4px">
    <button class="btn btn-default btn-card" target="_blank" style="background-image:url('./assets/imagenes/gris.jpg');">
      <h6> Ta Te Ti </h6>
    </button>
  </div>