<div class="login" style="margin-top:80px;">
  <div style="padding:20px;background-color: rgba(18, 17, 29, 0.911);border-radius:8px" class="">
    <div class="form-group has-error has-feedback" style="color:orange;font-size:30px;font-family: Tahoma, Geneva, sans-serif;">
      <label>Terminos y condiciones</label>
    </div>
    <p style="color:white">
      Juro sobre el pergamino sagrado que si revelo alguno de los secretos de los Magios,
      que se me hinche la barriga y se me caiga tooodoo el cabello. Asi sea.
    </p>
    <div class="btn-group" style="width:100%;margin-top:5%" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-warning" (click)="returnLogin()" style="width:100%">Mejor no</button>
      <button type="button" class="btn btn-outline-warning" style="width:100%" onclick="document.getElementById('id01').style.display='block'">Mandale
        cumbia</button>
    </div>

    <div id="id01" class="modal login" style="margin-top:80px;padding-bottom: 2%;height: 400px;margin-right:20px;margin-left:20px;z-index:999;border-radius:5px;padding: 0 15px 15px 45px;color:white;border-radius:8px">
      <div class="row pull-right">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
      </div><br>
      <div class="row">
        <label><b>Email</b></label>

        <input type="email" [ngClass]="inputEmail" (keydown)='emailHelp=""' placeholder="Ingresa tu correo" [(ngModel)]="user.email"
          name="email" style="width:100%;margin-right:4%;border-radius:5px;border:0px;padding:5px 5px 6px 8px">
        <small id="emailHelpId" class="form-text text-muted">{{emailHelp}}</small>
      </div>
      <div class="row">
        <label><b>Clave</b></label>
        <input type="password" (keydown)='claveHelp=""' placeholder="Aca la clave" [(ngModel)]="user.password" name="psw"
          style="width:100%;margin-right:4%;border-radius:5px;border:0px;padding:5px 5px 6px 8px">
          <small id="claveHelpId" class="form-text text-muted ">{{claveHelp}}</small>
      </div>
      <div class="row">
        <label><b>Repita la clave</b></label>
        <input type="password" placeholder="Repetir clave" [(ngModel)]="user.passwordControl" name="repPsw" style="width:100%;margin-right:4%;border-radius:5px;border:0px;padding:5px 5px 6px 8px">
      </div>
      <div class="row" style="width:100%">
        <p>creando la cuenta aceptando los<a onclick="document.getElementById('id01').style.display='none'">Terminos
            y condiciones</a>.</p>
        <div class="btn-group" style="width:100%;margin:0 0 0 0" role="group" aria-label="Basic example">

          <button style="width:100%;height:55px;margin-top:2%" class="btn btn-outline-warning" (click)="returnLogin()">Mejor
            no :v</button>
          <button style="width:100%;height:55px;margin-top:2%" class="btn btn-outline-warning" (click)="saveUser()">Entrale</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var modal = document.getElementById('id01');
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>