<app-pop-up [(showPopUp)]='showPopUp' [(messege)]='messege'  [(success)]='success'></app-pop-up>
<div class="row" style="height:400px;margin-top:60px">
  <div class="col-sm-12 col-md-4 col-lg-3">
    <app-lateral-panel (timeOut)='timeOut($event)' (pointCalculed)='sendData()' [(title)]='title' [(time)]='time'></app-lateral-panel>
    <!-- <app-counter [counter]="counter"></app-counter> -->
  </div>
  <div class="col-sm-12 col-md-8 col-lg-9" style="border-radius: 25px;margin-top:35px;">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="gameBox" style="width:95%;margin:5px;border-radius:5px;height:100%;text-align: center;font:bold;font-size:20px">
      <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="number"
        class="form-control"/>
      <div class="input-group input-group-sm mb-3" style="width:100%;height:40px;margin:2% 5% 0 0;align-content:center">
        <div class="input-group-prepend">
          <span class="input-group-text" style="background-color:rgb(37, 38, 44);color:orange;font-size: 20px;width:100%;padding:1px 8px 4px 15px"
            id="inputGroup-sizing-xl">Numero ingresado</span>
        </div>
        <input [(ngModel)]='nuevoJuego.numeroIngresado' class="form-control" aria-label="Small" style="text-align:center;font:bold;font-size:20px;"
          disabled #ctrl="ngModel" aria-describedby="inputGroup-sizing-sm">
      </div>
      <h2 [hidden]="ocultarVerificar"></h2>
        <button *ngIf="nuevoJuego.numeroSecreto!=0" style="width:100%;margin-top:2%" (click)="verificar()" class="btn btn-outline-success">
          Verificar
        </button>
        <button *ngIf="nuevoJuego.numeroSecreto==0" style="width:100%;margin-top:2%;background-color:rgba(228, 110, 0, 0.089)" (click)="generarnumero()" class="btn btn-outline-warning">
          Nuevo número secreto
        </button>        
        <label class="anagramsWord" style="font-size:50px;margin-top:12%" *ngIf="nuevoJuego.numeroSecreto!=0">
          <i class="fa fa-spinner fa-spin">
          </i>Esperando que ingrese un número
        </label>
        <div class="anagramsWord" id="snackbar">{{Mensajes}}</div>
    </div>
    <div class="col-3">

    </div>
  </div>