<table class="table table-condensed" style="color:white;margin-top:40px;">
    <thead>
      <tr>
        <th>Jugador</th>
        <th>Agilidad</th>
        <th>Anagrama</th>
        <th>Numero</th>
        <th>Naval</th>
        <th>Tateti</th>
        <th>Pi Pa Ti</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.email}} </td>
        <td>{{user.agilidad}} </td> 
        <td>{{user.anagrama}} </td> 
        <td>{{user.numero}} </td> 
        <td>{{user.naval}} </td> 
        <td>{{user.tateti}} </td> 
        <td>{{user.piedra}} </td> 
      </tr>
    </tbody>
  </table>