/* You can add global styles to this file, and also import other style files */

.imagenPrincipal {
    background-image: url("./assets/imagenes/Mario_Principal.jpg");
    opacity: 0.95;
    background-color: rgb(134, 60, 0);
    position: fixed;
    z-index: -2;
    left: -5px;
    width: 104%;
    height: 400%;
}
.gameBox{
    width: 400px;
    padding: 15px;
    font-family: 'Roboto',sans-serif;
    box-shadow: 10px 13px 50px -15px rgba(0, 0, 0, 0.904);
    margin:25px;
    background:rgba(199, 193, 255, 0.1);
    color:black;
}
.anagramsWord{
    /* color:rgb(224, 224, 224); */
    color: #FFF;
    text-align: center;
    font-weight: 30;
    font:  8px arial, Serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0)
}

 
.generalShadow{
    
    -webkit-box-shadow: 12px -2px 49px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px -2px 49px -10px rgba(0,0,0,0.75);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 19.15) !important;
}
.headerShadow{
    
    -webkit-box-shadow: 12px -2px 49px -10px rgba(0,0,0,0.5);
    -moz-box-shadow: 12px -2px 49px -10px rgba(0,0,0,0.5);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.30) !important;
}