<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top  ">
  <a class="navbar-brand" href="#">Sala de Juegos</a>
  <ul class="navbar-nav  mr-md-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
  </ul>
  <ul class="nav navbar-nav mr-md-3">
    <li><a routerLink="/Registro"><span class="glyphicon glyphicon-user mr-md-3"></span> Sign Up</a></li>
    <li><a routerLink="/Login"><span class="glyphicon glyphicon-log-in mr-md-2"></span> Login</a></li>
  </ul>
</nav>
